{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<a href="{{ '/projects'|url }}#filter=.portfolio">
    <div class="element clearfix col2-3 home">
        <div class="element-bg">
            <h2>Conheça o nosso portfólio de projetos. </h2>
            <h3>{{ this.home }}</h3>
        </div>
    </div>
</a>
<div class="element clearfix col1-3 home">
    <div class="images"><img src="{{ '/static/images/pantanal_0.jpg'|url }}" alt="" /></div>
</div>
<div class="element home clearfix col1-3 services no-padding">
    <div class="images"><img src="{{ '/static/images/arbor_0.jpg'|url }}" alt="" /></div>
</div>
<a href="#filter=.services">
    <div class="element home clearfix col2-3 services">
        <div class="element-bg">
            <h2>Serviços</h2>
            <h3>{{ this.services }}</h3>
        </div>
    </div>
</a>
<div class="element clearfix col1-3 services no-padding">
    <div class="images"><img src="{{ '/static/images/praca_naval_koerich_0.jpg'|url }}" alt="" /></div>
</div>
{% for service in site.query('/services').all() %}
<div class="element clearfix col2-3 services">
    <h2>{{ service.name }}</h2>
    <p>
        {{ service.description }}
    </p>
</div>
{% endfor %}
{% set clients = site.query('/clients').all() %}
{% set classes = ['', 'last', 'bottom', 'last bottom'] %}
{% for client in clients %}
{% if loop.index0 % 4 == 0%}
<div class="element clearfix col1-3 clients">
    <div class="logo {{ classes[loop.index0 % 4] }}">
        <span class=logo-helper></span>
        <img src="{{ client.attachments.images.first()|url }}" alt="" />
    </div>
{% elif loop.index0 % 4 == 1 or loop.index0 % 4 == 2 %}
    <div class="logo {{ classes[loop.index0 % 4] }}">
        <span class=logo-helper></span>
        <img src="{{ client.attachments.images.first()|url }}" alt="" />
    </div>
{% elif loop.index0 % 4 == 3 %}
    <div class="logo {{ classes[loop.index0 % 4] }}">
        <span class=logo-helper></span>
        <img src="{{ client.attachments.images.first()|url }}" alt="" />
    </div>
 </div>
{% endif %}
{% if loop.last and loop.index0 % 4 != 3 %}
</div>
{% endif %}
{% endfor %}
<!--
### Sobre ###
-->
<a href="#filter=.about">
    <div class="element home clearfix col2-3 about">
        <div class="element-bg">
            <h2>Empresa</h2>
            <h3>{{ this.company }}</h3>
        </div>
    </div>
</a>
<div class="element clearfix col1-3 about">
    <div class="element-bg">
        <h2>Equipe</h2>
        <h3>
            Eng. Ricardo Schwabe<br />
            <a href="mailto:thiago@starc.eng.br">ricardo@starc.eng.br</a>
            <br />
            Eng. Thiago Chiarelli<br />
            <a href="mailto:thiago@starc.eng.br"> thiago@starc.eng.br</a>
            <br />
            Tec. Francislene P. Mendes Fonseca<br />
            <a href="mailto:francis@starc.eng.br"> francis@starc.eng.br</a>
        </h3>
    </div>
</div>
<div class="element home clearfix col2-3 contact map">
    <div id="map"></div>
</div>
<div class="element home  clearfix col2-3 contact">
    <h2>Starc Engenharia</h2>
    <p> Rodovia Admar Gonzaga, 440 <br />
        Edifício América Officenter, Sala 204, Itacorubi<br />
        Florianópolis, Santa Catariana<br />
        CEP: 88034-000<br />
        <a href="mailto:contato@starc.eng.br"><img src="{{ '/static/images/bg-submit.png'|url }}"/>
            contato@starc.eng.br</a><br />
        Fones: (48) - 3365-6001 / 3365-6002
    </p>
</div>
</div>
{% endblock %}
