{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
{% set images = this.attachments.images.all() %}
{% set image = images[0] %}
{% set image_2 = images[1] %}
<div class="element clearfix col1-3 home">
    {% if image %}
    <div class="images"><img src="{{ image|url }}" alt="" /></div>
    {% else %}
    <div class="images"><img src="{{ '/static/images/pantanal_0.jpg'|url }}" alt="" /></div>
    {% endif %}
</div>
<a href="{{ '/projects'|url }}#filter=.portfolio">
    <div class="element clearfix col2-3 home">
        <div class="element-bg">
            <h2>Conheça o nosso portfólio de projetos. </h2>
            <h3>{{ this.home }}</h3>
        </div>
    </div>
</a>
<div class="element home clearfix col1-3 services no-padding">
    {% if image_2 %}
    <div class="images"><img src="{{ image_2|url }}" alt="" /></div>
    {% else %}
    <div class="images"><img src="{{ '/static/images/arbor_0.jpg'|url }}" alt="" /></div>
    {% endif %}
</div>
<a href="#filter=.services">
    <div class="element home clearfix col2-3 services">
        <div class="element-bg">
            <h2>Serviços</h2>
            <h3>{{ this.services }}</h3>
        </div>
    </div>
</a>
<div class="element clearfix col1-3 services no-padding">
    <div class="images"><img src="{{ '/static/images/praca_naval_koerich_0.jpg'|url }}" alt="" /></div>
</div>
{% for service in site.query('/services').all() %}
<div class="element clearfix col2-3 services">
    <h2>{{ service.name }}</h2>
    <p>
        {{ service.description }}
    </p>
</div>
{% endfor %}
{% set clients = site.query('/clients').all() %}
{% set classes = ['', 'last', 'bottom', 'last bottom'] %}
{% for client in clients %}
{% if loop.index0 % 4 == 0%}
<div class="element clearfix col1-3 clients">
    <div class="logo {{ classes[loop.index0 % 4] }}">
        <span class=logo-helper></span>
        <img src="{{ client.attachments.images.first()|url }}" alt="" />
    </div>
{% elif loop.index0 % 4 == 1 or loop.index0 % 4 == 2 %}
    <div class="logo {{ classes[loop.index0 % 4] }}">
        <span class=logo-helper></span>
        <img src="{{ client.attachments.images.first()|url }}" alt="" />
    </div>
{% elif loop.index0 % 4 == 3 %}
    <div class="logo {{ classes[loop.index0 % 4] }}">
        <span class=logo-helper></span>
        <img src="{{ client.attachments.images.first()|url }}" alt="" />
    </div>
 </div>
{% endif %}
{% if loop.last and loop.index0 % 4 != 3 %}
</div>
{% endif %}
{% endfor %}
<!--
### Sobre ###
-->
<a href="#filter=.about">
    <div class="element home clearfix col2-3 about">
        <div class="element-bg">
            <h2>Empresa</h2>
            <h3>{{ this.company }}</h3>
        </div>
    </div>
</a>
{% for team_member in site.query('/team').all() %}
{% if loop.index0 % 2 == 0%}
<div class="element clearfix col1-3 about team-bg">
        <div class="team">
{% else %}
        <div class="team bottom">
{% endif %}
            <h2 class="team-member-name">{{ team_member.name }}</h2>
            <h3 class="team-member-description">
                {{ team_member.description }}<br />
                <a href="mailto:{{ team_member.email }}">{{ team_member.email }}</a>
                <br />
            </h3>
        </div>
{% if loop.last or loop.index0 % 2 == 1%}
</div>
{% endif %}
{% endfor %}
<div class="element home clearfix col2-3 contact map">
    <div id="map"></div>
</div>
<div class="element home  clearfix col2-3 contact">
    <h2>Starc Engenharia</h2>
        {{this.address}}
    <p>
        <a href="mailto:ricardo@starc.eng.br"><img src="{{ '/static/images/bg-submit.png'|url }}"/>
            ricardo@starc.eng.br</a><br />
        Fones: ({{this.ddd}}) - {{this.phone_1}} 
    </p>
</div>
</div>
{% endblock %}
